<mat-card>Total Stocks value: {{ totalValue | currency: 'USD' }}</mat-card>
<table mat-table [dataSource]="markets" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let market"> {{market.id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let market"> {{market.name}} </td>
    </ng-container>


    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let market"> {{market.price}} </td>
    </ng-container>
       
     <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let market"> {{market.price}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let market"> {{market.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="sell_quantity">
        <th mat-header-cell *matHeaderCellDef> Input Amount </th>
        <td mat-cell *matCellDef="let market">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Amount" type="number" [(ngModel)]="market.sell_quantity">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="Buy_Button">
        <th mat-header-cell *matHeaderCellDef> Sell Button </th>
        <td mat-cell *matCellDef="let row"> <button mat-raised-button color="warn" (click)="sellStocks(row)">Sell</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    {{markets}}
</table>
