<nav mat-tab-nav-bar [backgroundColor]="background">
  <a mat-tab-link routerLink="/" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}"> Markets </a>
  <a mat-tab-link routerLink="/portfolio" routerLinkActive="activeLink">Portfolio</a>
  <div class="userBalance">User Balance:&nbsp; <span> {{ userBalance | currency: 'USD' }}</span></div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>
