

.userBalance {
    margin-left: auto;
    margin-right: 50px;
    height: 48px;
    padding: 0 24px;
    box-sizing: border-box;
    opacity: 1;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    vertical-align: top;
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
