<div class="heading">

  <select placeholder="Category" (change)="applyFilter($event.target.value)">
    <option *ngFor="let category of categoriesSet" [value]="category">
      {{category}}
    </option>
  </select>

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let market"> {{market.id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let market"> {{market.name}} </td>
    </ng-container>


    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let market"> {{market.price}} </td>
    </ng-container>
       
     <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let market"> {{market.price}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Input Amount </th>
        <td mat-cell *matCellDef="let market">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Amount" type="number" [(ngModel)]="market.quantity">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="Buy_Button">
        <th mat-header-cell *matHeaderCellDef> Buy Button </th>
        <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary" (click)="buyStocks(row)">Buy</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    {{markets}}
</table>
